<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SignUp</title>
  </head>
  <body>
    <form action="/user" method="post">
      <label>Full Name</label>
      <input type="text" required name="name">
      
      <label>Email</label>
      <input type="text" required name="email">
      
      <label>Password</label>
      <input type="password" required name="password"> <!-- Use type="password" for security -->
      
      <button type="submit">Signup</button>
    </form>
  </body>
</html>
